/* Element | https://gamepadviewer.com/n64-assets/base.svg */

#Base {
  display: none;
}

/* Inline #0 | https://gamepadviewer.com/n64-assets/base.svg */

.cls-8 {
  display: none;
}

.cls-13 {
  /* display": ; */
  display\": ;
  display: none;
}

.cls-22, .cls-6 {
  display: none;
}

.cls-5 {
  display: none;
}

/* Element | https://gamepadviewer.com/n64-assets/base.svg */

#Base_Under_Shadow {
  display: none;
}
